<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            "50":"#d69c04b3",
                            "100":"#d69c04b3",
                            "200":"#d69c04b3",
                            "300":"#d69c04b3",
                            "400":"#d69c04b3",
                            "500":"#d69c04b3",
                            "600":"#d69c04b3",
                            "700":"#d69c04b3",
                            "800":"#d69c04b3",
                            "900":"#d69c04b3",
                            "950":"#d69c04b3"
                        }
                    }
                },
                fontFamily: {
                    "sans": ["Inter"]
                }
            }
        }
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
</head>

<body class="bg-[#0D1117]">
    <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
    <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-[#161b22]">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center self-center text-2xl font-semibold whitespace-nowrap text-white">
                <span class="text-[{{ base['color'] }}]">Falcon</span>Booking
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="flex flex-col items-center justify-center p-4 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-md md:font-medium md:border-0">
                    <li>
                        <a href="/"
                            class="mt-2 block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#efae04] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-md"
                            aria-current="page"><span class="">Overview</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('availability') }}"
                            class="mt-2 block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#efae04] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-md"
                            aria-current="page"><span class="">Book Rooms</span></a>
                    </li>
                    {% if not base["isLoggedIn"] %}
                        <li>
                            <a href="/login">
                                <button
                                    class="text-[#161b22] bg-[{{ base['color'] }}] hover:bg-yellow-400 font-semibold rounded-lg text-md px-4 py-2.5 text-center inline-flex items-center mt-2"
                                    type="button"><span class="px-2">Login</span></button>
                            </a>
                        </li>
                    {% endif %}
                    {% if base["isLoggedIn"] %}
                        <li>
                            <a href="{{ url_for('logout') }}"
                                class="mt-2 block py-2 pr-4 pl-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#efae04] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-md"
                                aria-current="page"><span class="">Logout</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="h-full flex items-center justify-center font-sans">
        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>