{% extends "base.html" %}

{% block content %}
<div class="h-[80vh] flex flex-col items-start justify-center align-middle gap-2">
    <h1 class="font-extrabold text-5xl text-[{{ base['color'] }}]">
        You're all set.
    </h1>
    <div class="flex flex-row gap-2 items-center justify-start bg-gray-800 py-3 px-7 rounded-lg w-full mt-2 transition ease-in-out delay-50d hover:scale-x-110 hover:bg-gray-600 duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-white/75">
          <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
        </svg>
        <p class="text-lg text-white/[0.9] font-extralight">Booked by <span class="font-bold">{{ name }}</span></p>
    </div>
    <div class="flex flex-row gap-2 items-center justify-start bg-gray-800 py-3 px-7 rounded-lg w-full transition ease-in-out delay-50 hover:scale-x-110 hover:bg-gray-600 duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-white/75">
          <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
        </svg>
        <p class="text-lg text-white/[0.9] font-extralight">Booked for <span class="font-bold">{{ date }}</span></p>
    </div>
    <div class="flex flex-row gap-2 items-center justify-start bg-gray-800 py-3 px-7 rounded-lg w-full transition ease-in-out delay-50 hover:scale-x-110 hover:bg-gray-600 duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-white/75">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
        </svg>
        <p class="text-lg text-white/[0.9] font-extralight">Booked during <span class="font-bold">{{ block }}</span></p>
    </div>
    <div class="flex flex-row gap-2 items-center justify-start bg-gray-800 py-3 px-7 rounded-lg w-full transition ease-in-out delay-50 hover:scale-x-110 hover:bg-gray-600 duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-white/75">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
        </svg>
        <p class="text-lg text-white/[0.9] font-extralight">Booked for <span class="font-bold">{{ room }}</span></p>
    </div>
</div>
{% endblock content %}