<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .body-bg {
            background-color: #0d1117;
        }
    </style>
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="/">
            <h1 class="text-4xl font-bold text-center"><b style="color:rgba(239,174,4,255);">Falcon</b><span class="text-white">Booking</span></h1>
        </a>
    </header>

    <main id="content" role="main" class="w-full max-w-md mx-auto p-4">
        <div class="bg-white p-6 my-6 rounded-lg shadow-2xl">
            <div class="text-center">
                <h1 class="block text-2xl font-bold text-gray-800">Forgot password?</h1>
                <p class="mt-2 text-gray-600">
                    Remember your password?
                    <span class="psw"><a href="/login"><b style="color:rgba(239,174,4,255);">Login here</b></a></span>
                </p>
            </div>
        
            <div class="mt-4">
                <form class="flex flex-col" method="POST" action="#">
                    <div class="mb-4 pt-2 rounded bg-gray-200">
                        <label class="block text-gray-700 text-sm font-bold mb-1 ml-3" for="email">Email</label>
                        <input type="text" placeholder="Enter Email Here" id="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-yellow-600 transition duration-500 px-3 pb-2">
                    </div>
                    <button class="bg-yellow-600 hover:bg-yellow-400 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Reset Password</button>
                </form>
            </div>
        </div>

        <p class="mt-4 flex justify-center items-center text-center divide-x divide-gray-300">
            <a class="pr-3.5 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-yellow-600" href="#" target="_blank">
                <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
                View Github
            </a>
            <a class="pl-3 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-yellow-600" href="#">
                Contact us!
            </a>
        </p>
    </main>
</body>
</html>
